<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI_BenhVien.Properties.Settings.QUANLYBENHVIENConnectionString"
            connectionString="Data Source=lulu\sqlexpress;Initial Catalog=QUANLYBENHVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="UI_BenhVien.Properties.Settings.QUANLYBENHVIENConnectionString1"
            connectionString="Data Source=TRUONG;Initial Catalog=QUANLYBENHVIEN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>